/* Feuille de style pour Evenement JS*/

/* Reset du body */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: grey;
}

.myDiv{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: cadetblue;
    border: 1px solid black;
    margin: 20px;
}

.myDiv p{
    font-size: 1.4em;
    font-weight: lighter;
    color: oldlace;
}
